ovos-plugin-manager~=0.0.21
ovos-utils~=0.0.30
streaming-stt-nemo @ git+https://github.com/neongeckocom/streaming-stt-nemo@onnx
SpeechRecognition~=3.8

# TODO: Patching OPM
mycroft-messagebus-client~=0.10
