# This workflow will run unit tests

name: Run Unit Tests
on:
  pull_request:
  workflow_dispatch:

jobs:
  py_build_tests:
    uses: neongeckocom/.github/.github/workflows/python_build_tests.yml@master
  unit_tests:
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install gcc ffmpeg portaudio19-dev python3-pyaudio libpulse-dev
          pip install wheel
          pip install Cython
          python -m pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/test_requirements.txt

      - name: Test Nemo STT
        run: |
          pytest tests/test_stt.py --junitxml=tests/stt-test-results.xml
      - name: Upload STT test results
        uses: actions/upload-artifact@v2
        with:
          name: pytest-results-3.7
          path: tests/stt-test-results.xml
        if: ${{ always() }}